body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.toggle-menu-button {
    bottom: 0;
    left: 0;
    margin: 0 0 20px 20px;
    position: fixed;
}

.hidden {
    /* visibility: hidden; */
    opacity: 0;
    transform: scale(0);
}
.visible {
    /* visibility: visible; */
    opacity: 1;
    transform: scale(1);
}

.menu-item {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
    transition: transform 200ms ease-in-out;
}

.menu-item:hover {
    background-color: #38404D;
}

.menus {
    position: fixed;
    bottom: 60px;
    left: 0;
    margin: 0 0 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menus div p {
    margin: 0; 
    position: relative;  
}

.main-container {
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
}

.left-sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap:5px;
    min-width: 120px;
    /* border: 4px solid #171718; */
    /* outline-offset: -20px; */
    box-shadow: -0.18px 0px 0px 0px #a7a7a7 inset;
    overflow: scroll;
}

.chatbox-container {
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.chatbox-message {
    position: relative;
    min-height: 80%;
    flex-grow: 2;
    width: 100%;
    background-color: #ffffff;
}

.chatbox-input-container {
    position: relative;
    height: 10%;
    width: 100%;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.chatbox-input {
    background-color: #eceff1;
    height: 60%;
    width: 90%;
    border-radius: 5px;
    border: 0.12px solid #c9c9c9;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px
}

.chatbox-input svg {
    cursor: pointer;
}

.chatbox-input.attachment {
    width: 20px;
    padding-left: 5px;
}
.chatbox {
    height: 88%;
    width: 87%;
    border: none;
    background-color: #eceff1;
    outline: none;
    padding: 0 10px;
}

.right-function-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.chat-head-container {
    height: 90px;
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    border-bottom: 0.18px solid #a7a7a7;
}

.avatar-container {
    overflow: clip;
    height: 45px;
    width: 45px;
    border-radius: 40px;
    margin-left: 50px;
    margin: 0;
    border: white solid 0.1px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
    min-width: 40px;
    flex-shrink: 0;
}

.chatbox-avatar-container {
    height: 40px;
    width: 40px;
    overflow: clip;
    border-radius: 40px;
    margin-left: 15px;
}

.chatbox-avatar-container img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-bottom: 0.12px solid #c9c9c9;
}

.avatar-container img {
    object-fit:cover;
    width: 45px;
    height: 45px;
}

.text-container {
    width: inherit;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding: 0 20px 0 5px;
    min-width: 250px;
    max-width: 284px;
}

.text-container div h5{
    color: #0e0e0e;
    margin:0;
    font-size: 14px;
    font-weight: 600;
}
.text-container p{
    color: #acacac;
    margin:0;
    font-size: 13px;
    font-weight: 400;
}
.text-container div {
    display: flex;
    justify-content: space-between;
}

.text-container div span {
    font-size: 12px;
    font-weight: 300;
    color: #acacac;
}

.username-container {
    width: 100%;
    background-color: #eceff1;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 0.12px solid #c9c9c9;
}
.username {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
    color: #485e81;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0 20px 0;
    margin-bottom: -10px;
    border-bottom: #e6e6e6 solid 0.7px;
}


.search-bar {
    width: 90%;
    height: 35px;
    border-radius: 30px;
    background-color: #eceff1;
    border: 1px solid #e6e6e6;
    padding: 0 15px;
    outline: none;
}

@media screen and (max-width: 400px) {
    .chatbox-container {
        display: none;
    }
    
    .left-sidebar {
        width: 100%;
        gap: 0;
    }
}
